@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>About this site</h1>
    <p>You're probably looking at this site and saying, what a mess!</p>
    <p>It's just a standard .NET web application with controllers and razor pages.
    In it's standard form it uses Bootstrap and some Javascript to make the layout.
    </p>
    <p>In my wisdom, I have decided to learn some CSS, Javascript and perhaps Angular and attempt to do some front-end
    development.
    I have removed the link to Bootstrap and replaced it with <a href="https://milligram.io/">Milligram</a>, and
    started on a CSS file for styling.  At the moment that's a short CSS file for desktop, wrapped in  a
    media query - no CSS for less than 900 pixels.</p>
    <p>The site will develop somewhat.  It'll go to two sites eventually - perhaps a static one for the pottery and
    a site with a blog for myself.</p>
</div>