@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the website of Andrew Douglas.  It contains information about Andrew, and his activities,
    which are broadly speaking, Computer Science and Software Development, and Wood Fired Pottery.</p>
    <p>The site is named after where Andrew lives, in Norfolk.</p>
    <p>Also, the site is very much not really a viable website, but more an area for playing around with ASP.NET and other
    technologies, although all the information on it is fairly accurate, but also badly written.</p>
</div>
