@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the website for The Gate House, Wereham, home of Andrew Douglas.  It contains information about Andrew, and his activities,
    which are broadly speaking, Computer Science and Software Development related, and Wood Fired Pottery.</p>
</div>
