
@{
    ViewData["Title"] = "Pottery";
}

<h1>Pottery</h1>

<p>
    I am obsessed with atomospheric kilns - in particular wood fired kilns or introducing soda in to a gas or wood firing. Soda creates an atmosphere inside the kiln that follows the pattern of the flames, so how I fire becomes the decoration on the pot. An extension of this is wood firing, which imparts not just salts from the wood but also wood ash.
    </p><p>
    For me this is a way of painting with fire. The clay I use, or what I put on pots, be it a glaze, a slip or nothing at all, encourages different effects in the firing. Some pots will have oddities - occassional bloats, nics or 'kisses' from other pots, but these are all part of the journey the pot makes from beginning to end. Some of these oddities are incidental, some accidental, but go on to enhance the pot in some way.
    </p><p>
    Firing this way is inefficient and time consuming, but each pot is unique.
</p>