
@{
    ViewData["Title"] = "Pottery";
}

<h1>Pottery</h1>

<p>Andrew is a potter.  He uses the wheel to throw domestic and decorational pots, which are fired either in a soda kiln, or a wood-fired kiln.</p>