@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We store nothing but an id to a transaction - everything else is store by PayPal.</p>
<p>Your mother was a hamster and your father smells of elderberries.</p>
