
@{
    ViewData["Title"] = "SoftwareDevelopment";
}
<h1>SoftwareDevelopment</h1>
<p>
    I started in computing when I was at school, in the early 1980s.  My brother had various computers at home - a Microtan 65 with assembler and eventually, Basic, and a BBC Model B.
    I programmed these, sometimes from scratch, sometimes from magazine listings.  At the same time, I learnt some programming and fundamentals at school, taking O'Level and
    A'Level Computer Science.
</p>
<p>I eventually obtained a BSc in Computing Science, and then did a PhD in Computer Science at the University of Kent at Canterbury.  My thesis topic was looking at 
    Martin-Lof type theory, and developing a compiled
    functional programming language based on it.  In one of his papers, Roland Backhouse says this is not what type theory is about, and I didn't really
    understand that at the time.  Eventually, the thesis took a non-theory turn, looking at proofs and programs in a more
    colloquial setting that programmers would use - a programming language - rather than a theorem prover.
    Type theory has since moved on to Homotopy type theory, something I'm interested in, but not particularly proficient at due to time.</p>

<p>Following the PhD, I did a post-doc at the Univeristy of York, investigating Linda, a novel highly de-coupled language for concurrent and parallel programming.
    This lasted until 1996. It was an exciting two years, during which I also rewrote my PhD thesis.  Linda is an interesting co-ordination language, and we investigated
    it's insertion into a number of programming languages such as SETL, C and Gofer, and across environments such as the Meiko computing surface (Transputer based parallel computing).
    </p>
<p>In 1997, I moved to Cambridge, where I worked at various start-up companies.  The last of these - Active Hotels - subsequently merged with
    a dutch company, booking.com.  I saw that the work was moving mostly to the Amsterdam operation and left at an appropriate time.</p>

<p>In 2008, I took a break from the tech industry, to follow a passion for making pottery.  Between then and now, I have divided my time between pottery, and tech,
    with two contracting roles at Microsoft Research in Cambridge, the last of these ending in June 2016.  
    Since 2016, I have been handling some difficult family issues and
    a bereavment, which means I haven't been able to look for work.  I did manage to make a few pots in that time, and built the beginnings of a wood-fired kiln.
    </p><p>
    Covid 19 and lockdown has been spent looking after my elderly mother, away from Norfolk.
    I have tried to spend the time learning, doing some courses on differential equations, vector calculus and machine learning, whilst also writing code for this
    website (C#, ASP.NET running in Docker containers - some MySql and apache2.)
    My general interests are pretty broad, from programming languages and theory, parallel programming, concurrent and distributed systems, machine learning, IoT and maker
    boards, various bits of maths that I know, and maths I don't know but wish I did.  Too much to learn, too little time, but I'm trying.
    </p>
<p>I am now looking for work again, using .NET and C# skills or anything that might look appropriate from my <a href="/img/CV-expand.pdf">CV which you can download here.</a></p>