
@{
    ViewData["Title"] = "SoftwareDevelopment";
}

<h1>SoftwareDevelopment</h1>

<p>Andrew has a PhD in Computer Science from the University of Kent at Canterbury.  His thesis topic was looking at Martin-Lof type theory, and developing a compiled
    functional programming language based on it.  He did this to investigate the use of proofs and program construction, not in a theorem proving environment, but in the
    colloquial setting that programmers would use - a programming language.</p>

<p>Following on from his PhD, he did a post-doc at the Univeristy of York, investigating Linda, a novel highly de-coupled language for concurrent and parallel programming.
    This lasted until 1996.  In 1997, Andrew moved to Cambridge, where he worked at various start-up companies.  The last of these - Active Hotels - subsequently merged with
    a dutch company, booking.com.</p>

<p>In 2008, Andrew took a break from the tech industry, to follow a passion for making pottery.  Between then and now, Andrew has divided his time between pottery, and tech,
    with two contracting roles at Microsoft Research in Cambridge, the last of these ending in June 2016.  Since 2016, he has been handling some difficult family issues and
    a bereavment, which means he hasn't been able to look for work.  He did manage to make a few pots in that time, and built the beginnings of a wood-fired kiln, but .</p>
<p>Andrew is now looking for work again, using his .Net and C# skills.  Please contact Andrew at fairtomiddlingster@gmail.com if you might be interested in working with him.</p>