@using thegatehousewereham.Models;

@{
    var pot = (Pots)ViewData["pot"];
    ViewData["Title"] = pot == null ? "PotPage" : pot.Name;

}

@if (pot != null)
{
    <h1>@pot.Name</h1>

    <p>@pot.Description</p>
}


