<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - thegatehousewereham</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    @Html.Partial("_CookieConsentPartial.cshtml")
    <header>
        <nav class="navigation">
            <section class="container">
                <a class="navigation-title" asp-area="" asp-controller="Home" asp-action="Index">The Gatehouse Wereham</a>
                <ul class="navigation-list" style="justify-content:right">
                    <li class="navigation-item">
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Pottery">Pottery</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" asp-area="" asp-controller="Shop" asp-action="Shop">Shop</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="SoftwareDevelopment">Software Development</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>

                </ul>
            </section>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - thegatehousewereham - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <span style="float:right">
                <a href="https://twitter.com/andydouglas1967" target="_blank" rel="noopener noreferrer"><img src="~/img/16px/twitter.svg" alt="twitter" /></a>
                <a href="https://www.instagram.com/andrewdouglas1967" target="_blank" rel="noopener noreferrer"><img src="~/img/16px/instagram.svg" alt="instagram" /></a>
                <a href="https://github.com/kufena" target="_blank" rel="noopener noreferrer"><img src="~/img/16px/github.svg" alt="github" /></a>
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
